* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0a0908;
  color: #9ad2cb;
  font-family: "Nunito", "Segoe UI", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 18px 28px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.08);
}

.brand {
  font-family: "Space Mono", "Courier New", monospace;
  font-weight: 700;
  font-size: 13px;
  color: #3f405e;
  letter-spacing: 0.12em;
}

.tag {
  margin-left: auto;
  font-size: 11px;
  font-family: "Space Mono", "Courier New", monospace;
  color: #d29a9a;
  background: rgba(203, 126, 126, 0.12);
  border: 0.5px solid rgba(203, 126, 126, 0.3);
  /* border-radius: 20px; */
  padding: 3px 10px;
}

.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 28px;
  text-align: center;
}

.mascot {
  width: 250px;
  height: 200px;
  margin-bottom: 28px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

h1 {
  font-size: 32px;
  font-weight: 800;
  color: #A9927D;
  line-height: 1.2;
  margin-bottom: 14px;
}

h1 span {
  color: #9ad2cb;
}

p {
  font-size: 15px;
  color: #9898b0;
  line-height: 1.7;
  max-width: 400px;
  margin-bottom: 36px;
}

.pills {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 36px;
}

.pill {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 12px;
  font-family: "Space Mono", "Courier New", monospace;
  color: #c4b8f0;
  background: rgba(196, 184, 240, 0.1);
  border: 0.5px solid rgba(196, 184, 240, 0.25);
  /* border-radius: 20px; */
  padding: 6px 14px;
}

.dot {
  width: 7px;
  height: 7px;
  /* border-radius: 50%;*/
}

.btn {
  background: rgb(21, 20, 23);
  color: #d1d1d8;
  border-color: #7a7b8f;
  border-width: 5px;

  /* border-radius: 12px; */
  padding: 15px 40px;
  font-family: 'OCR A Extended', 'OCR A', 'Courier New', monospace;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 0.04em;
  transition:
    background 0.15s,
    transform 0.15s;
  margin-bottom: 14px;
}

.btn:hover {
  background: rgb(36, 34, 41);
  color: #a9adcf;
  transform: translateY(-2px);
}

.hint {
  font-size: 11px;
  font-family: "Space Mono", "Courier New", monospace;
  color: #5f5f78;
}

.fonted {
  font-family: 'OCR A Extended', 'OCR A', 'Courier New', monospace;
}

#headertext1 {
  color: #7a7b8f;
}
#headertext2 {
  color: #8a9a87;
}

.desc {
  color: white;
}

.brand {
  color: rgb(65, 61, 59);
}

.tag {
  color: rgb(218, 129, 129);
}

.pill {
  color: white;
}